@use '../base/mixins' as m;

.navbar {

    &__container {
        padding: 1.25rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}

.nav {
    @include m.md { 
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__item {
        display: none;

        @include m.md { 
            display: block;
        }

        &--btn {
            display: block;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        padding: 0 1rem;
        font-size: var(--fs-body-sm);
        font-weight: var(--fw-medium);
        color: var(--clr-neutral-900);
        line-height: 1.5rem;
    }

}